/* CSS VARIABLES */
:root {
    --hibiscus: #b94951;
    --toadstool: #b82731;
    --stizza: #870b0c;
    --dark: #111;
    --stone: #3D4351;
    --grey: #999;
}
body, html {
	height: 100%;
}
body {
    background: url('../img/bg.png');
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--stone);
}
a, a:hover, a:focus {
    color: var(--toadstool);
}
#wrapper.container {
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
}
/* NAVIGATION */
.navbar {
    background: transparent;
    margin: 0 auto;
    border-radius: 0;
    width: 100%;
    border: none;
    float: left;
}
.navbar-collapse {
    border: none;
    box-shadow: none;
    float: right;
}
.navbar-toggle {
    float: right;
    background: #fff;
}
.navbar-toggle:hover {
    background: var(--stizza);
}
.navbar-toggle .icon-bar {
    background: var(--stizza)
}
.navbar-toggle:hover .icon-bar {
    background: #fff;
}
.navbar-brand {
	color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 15px;
}
.logo {
	background: url('../img/logo.png') 50% 50% no-repeat;
	text-indent: -99999px;
	display:block;
	width: 210px; /* Update this value to the width of your logo */
    height: 50px;
	padding: 0;
}
.nav>li>a {
    background: var(--stizza);
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 10px;
}
.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: #fff;
    color: var(--stizza);
    text-decoration: none;
}
.topnav {padding-right: 10px;}
/* JUMBOTRON (HEADER) */
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
}
.jumbotron {
    background: url('../img/header.png') 50% 50% no-repeat;
    height: 500px; /* Adjust this value to the height of your header image */
    padding: 0;
	margin: 0;
    border-bottom: 4px solid var(--stizza);
}
/* CONTENT */
#content {
    padding: 50px 30px 90px;
    background: #fff url('../img/lace.png') center bottom repeat-x;
}
h1, h2 , h3, h4, h5 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
    color: var(--dark);
    display: inline-block;
    margin: 15px 0;
}
h1 {
    background: url('../img/petals.png') left bottom no-repeat;
    border: none;
    padding: 0 0 0 120px;
    margin: 0 0 25px;
}
h2 {
    border-left: 5px solid var(--dark);
    padding: 10px 15px;
}
.avatar {
	margin: 6px 6px 0 0;
    border: 3px solid var(--hibiscus);
	padding: 2px;
    float: left;
}
.avatar-wrapper {
    min-height: 110px;
}
/* FOOTER */
footer {
	background: var(--dark);
	width: 100%;
	color: var(--grey);
    font-size: 14px;
    padding: 25px 0;
}
footer h2 {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--hibiscus);
    margin: 0 0 25px;
    background: var(--dark);
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    display: block;
    position: relative;
    z-index: 10;
    border: none;
}
footer h2:before {
    content: '';
    background: url('../img/mask.png');
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
footer a {
    color: #fff;
    border-bottom: 1px dotted var(--grey);
}
footer a:hover {
    color: var(--hibiscus);
    border-bottom: 1px solid var(--hibiscus);
    text-decoration: none;
}
footer ul li {
    margin-bottom: 10px;
}
footer ul.links {
    list-style: none;
    padding: 0;
}
footer ul.links li {
    margin-bottom: 20px;
}
footer ul.links li a {
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px dotted var(--grey);
    letter-spacing: 1px;
    padding-bottom: 5px;
}
footer ul.links li a:hover {
    text-decoration: none;
    color: var(--hibiscus);
    border-bottom: 1px solid var(--hibiscus);
}
.buttons {
    padding: 0;
    text-align: center;
}
.buttons li {
	display: inline-block;
	list-style: none;
	border: 2px solid transparent;
}
.buttons li:hover {
	border: 2px solid var(--hibiscus);
}
/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .navbar {
        width: auto;
        max-width: 1200px;
    }
    .navbar-brand {
        margin: 20px 15px;
    }
    .navbar-collapse {
        float: none;
    }
}
/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    body {
        background-image: url(../img/bg_2x.png);
        background-size: 48px 48px;
    }
}